{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
   
    {% if app.request.attributes.get('_route') == 'app_admin_user_password' %}
            <h1>Modifier le mot de passe</h1>
        {% elseif app.request.attributes.get('_route') == 'app_admin_user_edit' %}
            <h1>Modifier l'administrateur</h1>
        {% endif %}

    {{ include('admin/user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_user_index') }}">back to list</a>
    {% if app.request.attributes.get('_route') != 'app_admin_user_password' %}
        {{ include('admin/user/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
