{% extends 'base.html.twig' %}

{% block title %}Nouvel emprunt{% endblock %}

{% block body %}
    <h1>Créer un nouvel emprunt</h1>

    {{ include('admin/emprunt/_form.html.twig') }}

   

    <a href="{{ path('app_admin_emprunt_index') }}">back to list</a>
{% endblock %}
