{% extends 'base.html.twig' %}

{% block title %}Nouvel emprunteur{% endblock %}

{% block body %}
    <h1>Créer un nouvel emprunteur</h1>

    {{ include('admin/emprunteur/_form.html.twig') }}

    <a href="{{ path('app_admin_emprunteur_index') }}">back to list</a>
{% endblock %}
