@import "custom.scss";

body {
    background-color: lightgray;
}

.form_scrollable-checkboxes {
    display: flex;
    flex-direction: column;
    height: 10rem;
    width: 400px;
    overflow: scroll;
    background-color: white;
    input {
        float: left;
    }
    

}